<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center><h1>We're glad you're here, {{.GetAccountName}}.</h1></center>
	<center>We just want to confirm it's you. Please enter the below verification code in the app.<br><br></center>
	<center><b>{{.GetEncodedText}}</b><center>
	<center><br>If you didn't create a proctl account, just delete this email.</center>`
</body>
</html>