<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center><h1>{{.GetAccountName}} has invited you to collaborate in the proctl project</h1></center>
	<center>With Proctl, you can create workspaces, boards, projects and tasks, and arrange them according to your need. It is a simple and convenient way to manage your projects from the terminal.<br><br></center>
</body>
</html>